@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: #000000;
  font-family: "Inter", sans-serif;
  color: white;
  font-size: 14px;
}

body::after {
  content: "";
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: -1;

  background: radial-gradient(
      circle at 20% 80%,
      rgba(255, 180, 100, 0.25) 0%,
      /* мягкий янтарь */ transparent 70%
    ),
    radial-gradient(
      circle at 80% 20%,
      rgba(200, 120, 255, 0.30) 0%,
      /* лавандовый фиолет */ transparent 70%
    );

  background-repeat: no-repeat;
  background-size: 100% 100%, 100% 100%;

  animation: softGlow 15s ease-in-out infinite alternate;
}

@keyframes softGlow {
  0% {
    opacity: 0.8;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.02);
  }
  100% {
    opacity: 0.85;
    transform: scale(1);
  }
}

@keyframes shine {
  0% {
    transform: translateX(-140%);
    opacity: 0;
  }
  15% {
    opacity: 0.9;
  }
  85% {
    opacity: 0.9;
  }
  100% {
    transform: translateX(140%);
    opacity: 0;
  }
}

.shimmer {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.shimmer::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 50%;
  border-radius: 9999px;
  transform: translateX(-140%);
  overflow: hidden;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.45) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  filter: blur(6px);
  pointer-events: none;  mix-blend-mode: screen;
  animation: shine 1.5s ease-in-out infinite;
  z-index: 1;
  will-change: transform;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

@media (prefers-reduced-motion: reduce) {
  .shimmer::after {
    animation: none;
    opacity: 0;
  }
}

@-webkit-keyframes noise {
  to {
    transform: translate3d(-7rem, 0, 0);
  }
}

@keyframes noise {
  0% {
    transform: translate3d(0, 9rem, 0);
  }

  10% {
    transform: translate3d(-1rem, -4rem, 0);
  }

  20% {
    transform: translate3d(-8rem, 2rem, 0);
  }

  30% {
    transform: translate3d(9rem, -9rem, 0);
  }

  40% {
    transform: translate3d(-2rem, 7rem, 0);
  }

  50% {
    transform: translate3d(-9rem, -4rem, 0);
  }

  60% {
    transform: translate3d(2rem, 6rem, 0);
  }

  70% {
    transform: translate3d(7rem, -8rem, 0);
  }

  80% {
    transform: translate3d(-9rem, 1rem, 0);
  }

  90% {
    transform: translate3d(6rem, -5rem, 0);
  }

  to {
    transform: translate3d(-7rem, 0, 0);
  }
}
